#campaign_banner {
    font-family: $default_font;
    .left_side {
        @include Flexible (center,center,column,nowrap,10px);
        background-color: #E6E4DE;
        height: 400px;
        &__content {
        @include Flexible (center,start,column,nowrap,20px);
        margin-left: 10px;
            h2 {
                font-size: 52px;
                color: $black_color;
            }
            p {
                font-size: 16px;
                color: #545454;
                line-height: 25px;

            }
            a {
                font-size: 14px;
                color: $black_color;
                font-weight: 600;
                border-bottom: 1px solid $black_color;
                padding: 5px 0;
                text-decoration: none;
                i {
                    font-size: 18px;
                    font-weight: 200;
                }
            }
    }
    }
    .right_side {
        &__img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 400px;
            &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgb(71, 68, 68);
            transition: 0.25s;
            z-index: 3;
            opacity: 0.1;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -100%;
                right: 0;
                width: 50%;
                height: 100%;
                background: rgb(71, 68, 68);
                transition: 0.25s;
                z-index: 3;
                opacity: 0.1;
                }
                &:hover:before {
                    top: 0;
                  }
                  &:hover:after {
                    bottom: 0;
                    transition-delay: 0.25s;
                  }
            img {
                @extend %base_img;
            }
            }
            }
            }
        
